.about{
    height: 100vh;
  }
  
.about-center{
    width: 85vw;
    height: 100%;
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    align-items: center;
}

  .about-center > p {
      font-size: 42px;
      width: 65vw;
      margin: 0 auto;
      font-family: 'Josefin Sans', sans-serif;
  }