header{
    height: 100vh;
    position: relative;
    overflow: hidden;
    box-shadow: 0 1px 50px 50px rgba(255, 255 , 255, 0.111),
    0 1px 10px 10px rgba(255, 255 , 255, 0.111),
    0 1px 1px 1px rgba(255, 255 , 255, 0.111)
    ;
  }
  
  
  .star {
    /* position: absolute; */
    width: 100%;
    height: 100vh;
    position: relative;
    display: none;
    /* animation: star 5s linear 0.3s infinite alternate none; */
  }
  
  .star img {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    animation: star 10s linear 0s infinite alternate;
  }
  
  .star img:nth-child(2) {
    top: 0;
    left: 15%;
    animation: star 8s linear 0.1s infinite;
  }
  
  .star img:nth-child(3) {
    top: 0;
    left: 35%;
    animation: star 7s linear 0.3s infinite alternate;
  }
  
  .star img:nth-child(4) {
    top: 0;
    left: 55%;
    animation: star 7s linear 0.1s infinite alternate;
  }
  
  .star img:nth-child(5) {
    top: 0;
    left: 35%;
    animation: star 10s linear 0.2s infinite;
  }
  .star img:nth-child(6) {
    top: 0;
    left: 75%;
    animation: star 6s linear 0.4s infinite;
  }
  
  .star img:nth-child(7) {
    top: 20%;
    left: 0%;
    animation: star 11s linear 0s infinite alternate;
  }
  
  .star img:nth-child(8) {
    top: 20%;
    left: 25%;
    animation: star 8s linear 0.3s infinite alternate;
  }
  
  .star img:nth-child(9) {
    top: 20%;
    left: 75%;
    animation: star 7s linear 0s infinite;
  }
  .star img:nth-child(10) {
    top: 50%;
    left: 0%;
    animation: star 9s linear 0.4s infinite;
  }
  .star img:nth-child(11) {
    top: 50%;
    left: 25%;
    animation: star 12s linear 0.2s infinite alternate;
  }
  
  .star img:nth-child(12) {
    top: 50%;
    left: 55%;
    animation: star 11s linear 0.2s infinite;
  }
  .star img:nth-child(13) {
    top: 50%;
    left: 75%;
    animation: star 7s linear 0.3s infinite alternate;
  }
  
  .moon {
    position: absolute;
    top: -15% !important;
    width: 100vw;
    left:-25% !important;
  }
  
  .plane{
    position: absolute; z-index: 99; top:-20%; background-size: 400px;
  }
  
  .header-content{
    z-index: 999;
    position: absolute;
    top: 0;
    width: 100vw;
    left: 0;
  }
  
  .header-center {
    width: 85vw;
    max-width: 1600px;
    margin: 0 auto;
    min-height: 100vh;
  }
  
  
  .hero-content {
    position: absolute;
    /* top: 300%; */
    top: 40%;
  }
  
  .hero-content h3 {
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: 20px;
    line-height: 1.8;
  }
  
  .hero-content h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 72px;
    letter-spacing: 2px;
  }
  
  .contacts {
    position: absolute;
    /* bottom: 8%; */
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    /* gap: 6rem; */
    gap: 1rem;
    bottom: 8%;
  }
  
  .contact h5 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
  }
  
  .contact p {
    font-size: 18px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 400;
  }
  
  .social-icons {
    position: absolute;
    right: 4%;
    bottom: 8%;
    z-index: 9999;
  }
  
  .social-icons > a {
    text-decoration: none;
  }
  
  .social-icons a > img {
    width: 30px;
    margin-left: 0.5rem;
  }
  
  @media screen and (min-width: 768px) {
    body {
      min-height: 100vh;
    }
    .contacts {
      bottom: 8%;
      grid-template-columns: repeat(3, 1fr);
      gap: 6rem;
    }
  
    .star-mobile {
      display: none !important;
    }
  
    .star {
      display: block;
    }
  
    .moon {
      left: 0px !important;
    }
  
    .moon img {
      width: 100%;
    }
  }
  
  @media screen and (min-width: 768px) {
    .social-icons {
      top: 5%;
    }
  }
  
  @media screen and (min-width: 992px) {
    .social-icons {
      top: 50%;
    }
  }
  
  @media screen and (max-width: 350px) {
    body {
      background-position: -8rem -0rem;
    }
  
    .hero-content {
      top: 35%;
    }
    .hero-content h1 {
      line-height: 1.2;
      font-size: 52px;
    }
  }

 