.work{
    min-height: 100vh;
    background: black;
}

.work-center{
    height: 100%;
    width: 90vw;
    margin: 0 auto;
    display: grid;
}

.work-grid{
    display: grid;
    grid-template-columns: 60% auto;
    gap: 1rem;
    place-items: center;
}

.work-grid-item{
    width: 100%;
}

.work-grid-item > img {
    width: 100%;
    height: 400px;
}